body{
  margin: 0;
  background-color: rgb(109, 173, 207);
}

  /* Style inputs */
  input[type=text], select, textarea {
    width: 80%;
    padding-bottom: 1.5%;
    margin-right: 18%;
    border: 2px solid #ccc;
    background-color: white;
    margin-top: 1.5%;
    margin-bottom: 3.3%;
    resize: vertical;
  }
  
  input[type=submit] {
    background-color:#0e5ff5;
    color: white;
    padding:12px 40px;
    margin-right: 100px;
    border-radius: 10px;
    border: none;
    cursor: pointer;
  }
  input[type=submit]:hover {
    background-color: #030a30;
  }
 .roo{
   box-sizing: border-box;
   background-color: white;
   width: 100%;
   height: 100%;
 }
  .coll {
    float: left;
    width: 48%;
    margin-top: 4%;
    margin-left: 0;
    margin-right: 0;
    padding-left: 2%;
    padding-right:0;
    padding-top: 5%;
    padding-bottom: 5%;
    background-color:rgb(109, 173, 207);
    color: black;
    font-weight: bold;
  }
   /* footer */
   
   .foo{
    float: left;
    width: 100%;
    bottom:0;
    display: block;
    background-color: black;
    color:white;
  }
  .div_sec1,.div_sec2,.div-sec3{
    float: left;
    width: 30%;
    padding:50px;
   
  }
  .div-sec3{
    margin-top: 5%;
    border-right:solid white ;
  }
/* header */
.navbar {
  background-color: black;
  width: 100%; 
  font-weight: bold ;
  overflow: hidden;
  
  
}

.navbar a.logo{
  background-image: url(logohead2.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  border: 0.1px solid black;
  float: left;
  display:block;
  margin-right: 0;
  padding: 20px;
}

  .navbar a {
    float: left;
    display: block;
    margin-right: 3%;
    color: white;
    text-align: center;
    padding: 3px;
    text-decoration:none;
  }
 .navbar a.right{
   float:right;
   margin-right: 0;
 }
  .navbar a.active {
    background-color: rgb(239, 247, 246);
    color: rgb(39, 36, 185);
  }
  
  .navbar a:hover {
    background-color: rgb(163, 241, 238);
    color: rgb(39, 36, 185);
  }
  
/* Responsive layout - when the screen is less than 400px wide, 
make the navigation links stack on top of each other   
instead of next to each other */
@media screen and (max-width: 400px) {
  .navbar a {
    float: none;
    width: 100%;
  }
}